<div class="container">
  <div class="row">
    <div class="col-2 border">
      <% @categories.each do |category| %>
        <p><%= link_to category.name, "/ibb/#{category.id}" %></p>
      <% end %>
    </div>

    <div class="col-10 border">
      <% if @boards %>
        <h2>
          <%= @category.name %>@掲示板
        </h2>
        <p>
          <% @boards.each do |board| %>
            <% str = board.id.to_s + ": " + board.name + "(" + board.contents.count.to_s + ')' %>
            <%= link_to str, board_path(board.id) %>
          <% end %>
        </p>
      <% else %>
        <h1 class="text-center mt-4">ようこそIBBへ</h1>
      <% end %>
    </div>
  </div>
</div>
